{{#if user}}
<a href="/login">Login</a> or <a href="/register">Register</a>
{{else}}
<h2>Today's Tasks</h2>

{{#if noData}}
    No Current Tasks! Good job!
{{/if}}

<ol>
{{#each data as |d|}}
    {{!-- <input type="checkbox" name={{d.user}}> --}}
        <li>
            {{d.title}} 
            <ul>
                {{#each d.taskDetails as |td|}}
                <li>
                    {{td}}
                </li>
                {{/each}}
            </ul>
        </li>
{{/each}}
</ol>

{{!-- <form method="POST" action="/main/current/moveOne">
Which task is completed? <input type="number" name="num" min="1">
<!-- <input type="hidden" name="data" value='{{data}}'> -->
<input type="submit">
</form> --}}

<!-- This form adds a new task -->
<form method="POST" action="/main/current/newTask">
<p>Create New Task</p>
<input placeholder="Task Name" type="text" name="title">
<input placeholder="Detail 1" type="text" name="detail1">
<input placeholder="Detail 2" type="text" name="detail2">
<input placeholder="Detail 3" type="text" name="detail3">
<input placeholder="Detail 4" type="text" name="detail4">
<input placeholder="Detail 5" type="text" name="detail5">
<input type="submit" value="Create">
</form>

<!--This form moves all tasks to the completed tasks section-->
<form method="POST" action="/main/current/moveALL">
    Move all tasks to be completed.
    <input type="hidden" name="delete" value="true">
    <input type="submit" value="All tasks completed">
</form>
{{/if}}